/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(fonts/Inter-200.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/Inter-300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/Inter-600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Reset */
:root {
  font-size: 62.5%;
  color-scheme: dark;

  /* Primary color */
  /* --primary-hue: 28; */
  --primary-hue: 295;
  --primary-saturation: 66%;
  --primary-lightness: 68%;
  --hsl-primary: var(--primary-hue), var(--primary-saturation), var(--primary-lightness);
  --primary-500: hsla(var(--hsl-primary), 1);
  --hsl-primary-700: var(--primary-hue), calc(var(--primary-saturation) * .4), calc(var(--primary-lightness) * .6);
  --primary-700: hsla(var(--hsl-primary-700), 1);
  /* Canvas color */
  --canvas-hue: 230;
  --canvas-saturation: 15%;
  --canvas-lightness: 12%;
  --hsl-canvas: var(--canvas-hue), var(--canvas-saturation), var(--canvas-lightness);
  --canvas: hsl(var(--hsl-canvas));
  --hsl-canvas-emphasis: var(--canvas-hue), 13%, 16%;
  --canvas-emphasis: hsl(var(--hsl-canvas-emphasis));
  /* Body text color */
  --text-hue: 0;
  --text-saturation: 0%;
  --text-lightness: 88%;
  --hsl-text: var(--text-hue), var(--text-saturation), var(--text-lightness);
  --color-text: hsl(var(--hsl-text));
  /* Visited link color */
  --visited-hue: 290;
  --visited-saturation: 80%;
  --visited-lightness: 100%;
  --hsl-visited: var(--visited-hue), var(--visited-saturation), var(--visited-lightness);
  --color-visited: hsl(var(--hsl-visited));

  /* Transitions */
  --duration-fast: 75ms;
  --duration-medium: 250ms;
  --duration-slow: 500ms;
  --easing: ease-out;
  --transition-fast: var(--duration-fast) var(--easing);
  --transition-medium: var(--duration-medium) var(--easing);
  --transition: var(--duration-medium) var(--easing);
}

body {
  font-size: 1.8rem;
  font-size: min(calc(1.2rem + 1vw), 2.5rem);
  font-family: 'Inter', sans-serif;
  background-color: var(--canvas);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  transition-property: background-color, color;
  transition-duration: var(--duration-slow);
  text-decoration-skip-ink: none;
}

:where(a) {
  font-weight: 600;
}

:where(p) {
  line-height: 1.5;
}

:where(p + p) {
  margin-top: 0;
}

:where(code) {
  background: hsla(var(--hsl-primary), .2);
  display: inline;
  border-radius: .3em;
  border: .1em solid hsla(var(--hsl-primary), .1);
  font-size: smaller;
}

:where(a:link, a:visited) {
  color: var(--color-text);
}

:where(a:hover) {
  color: var(--primary-500);
}

:where(a:active) {
  color: var(--primary-700);
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Main styles */

/* dark mode toggler */

.theme-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
}

.theme-toggle label {
  --height: 3rem;
  display: inline-block;
  height: var(--height);
  width: calc(var(--height) * 2);
  border: .1rem solid hsla(var(--hsl-canvas-emphasis), .1);
  border-radius: 999rem;
  background-color: hsla(var(--hsl-text), .1);
  font-size: calc(var(--height) / 2);
  cursor: pointer;
  transition: background-color var(--transition-medium);
}

.theme-toggle label:hover {
  background-color: hsla(var(--hsl-text), .2)
}

.theme-toggle label::after {
  content: "🌛";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--height);
  width: var(--height);
  margin: -.1rem;
  padding: .1rem;
  background-color: var(--canvas-emphasis);
  border-radius: inherit;
  transition: transform var(--transition-medium), background-color var(--transition-medium);
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .1);
}

.theme-toggle input:checked+label::after {
  content: "🌞";
  transform: translateX(100%) rotate(360deg);
}

.theme-toggle input:focus-visible+label {
  border-color: hsla(var(--hsl-text), .1);
  background-color: hsla(var(--hsl-text), .2);
}

.theme-toggle input:focus-visible+label::after {
  outline: .2rem solid var(--primary-500);
}

@media (min-width: 35em) {
  .theme-toggle {
    top: 0;
    right: 0;
    margin: calc(2vw + 4rem) 5vw 0 0;
  }
}

h1:not(.hp-heading) {
  margin-top: 1em;
}

/* Homepage */
:root.homepage {
  overflow: hidden;
}

.homepage body {
  height: 100vh;
  height: 100dvh;
  /* allow scrolling if screen is really short */
  min-height: 60rem;
  display: grid;
  grid-template-areas:
  "title"
  "rings"
    "nav";
  place-content: space-between center;
  grid-template-columns: 1fr;
  grid-template-rows: 33% 1fr auto;
  perspective: 120rem;
  overflow: hidden;
}

.homepage body::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  /* transform: translate(-50%, -50%); */
  translate: var(--gradient-x, -50%) var(--gradient-y, 50%);
  scale: var(--gradient-scale, 1);
  transition: var(--bg-transition-duration) ease-in;
  transition-property: translate, width, height;
  z-index: -1;
  background-image: radial-gradient(circle at center, hsla(var(--hsl-primary-700), .3) 0%, transparent 40%);
  transform-origin: center;
}

.hp-heading {
  grid-area: title;
  text-align: center;
  margin: 5rem;
  font-weight: 200;
  line-height: .925;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hp-heading .name {
  font-size: 1.25em;
  margin-top: .25em;
  font-weight:300;
}

.hp-heading .title {
  color: var(--primary-500);
  font-size: .5em;
  order: -1;
}

@media (min-aspect-ratio: 4/1) {
  .homepage body {
    overflow: auto;
  }

  .hp-heading {
    margin-top: .5em;
  }

  .homepage .nav {
    padding-bottom: .5em;
  }
}

.ring-section {
  --multiplier: 1;
  --pulse-out-duration: 10s;
  z-index: -1;
  grid-row: 1 / -1;
  grid-column: 1;
  display: grid;
  place-content: center;
  grid-template-areas: "center";
  place-items: center;
  overflow: hidden;
  transform: rotateY(var(--mouse-x, 0deg)) rotateX(var(--mouse-y, 0deg)) translateY(3vh);
  transform-style: preserve-3d;
  margin: -999rem;
  padding: 999rem;
  will-change: transform;
  transition: transform var(--transition-medium), scale var(--transition-medium);
  image-rendering: optimizeQuality;
}

/* skinny screens have more room for the image */
@media (max-aspect-ratio: 1/2) {
  .ring-section {
    --multiplier: 1.5;
  }
}

.ring-section .portrait,
.ring-section::before,
.ring-section::after {
  grid-area: center;
  width: calc(var(--size) * var(--multiplier));
  height: calc(var(--size) * var(--multiplier));
  border-radius: 999rem;
}

.ring-section::before,
.ring-section::after {
  --fallback-hsl: 0, 0%, 80%;
  content: '';
  border: var(--ring-width, .1rem) solid hsla(var(--hsl-ring, var(--fallback-hsl)), var(--ring-opacity, 1));
  transition: all .2s ease;
  background-image: radial-gradient(circle at center, transparent 65%, hsla(var(--hsl-ring, var(--fallback-hsl)), var(--gradient-opacity, .2)) 95%);
}

.ring-section .portrait {
  --size: 40vmin;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  object-fit: cover;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1), 0 .25rem .25rem rgba(0, 0, 0, .1);
  border: .4em solid hsla(var(--hsl-canvas-emphasis), 1);
  /* forwards entry animation */
  animation: portraitEnter var(--duration-slow) .25s forwards, beatInward var(--pulse-out-duration) .4s infinite var(--easing);
  transition: border-color var(--transition-medium);
}

.ring-section:has(.portrait:hover) {
  scale: 1.03;
}

.ring-section::before {
  --size: 70vmin;
  --hsl-ring: var(--hsl-text);
  --ring-opacity: .2;
  --ring-width: .1em;
  --gradient-opacity: ..05;
  --pulse-scale: 5;
  animation: pulseOut var(--pulse-out-duration) infinite ease;
}

.ring-section::after {
  --size: 50vmin;
  --hsl-ring: var(--hsl-primary);
  --ring-width: .05em;
  --ring-opacity: .5;
  --pulse-scale: 1.2;
  --start-delay: 1s;
  opacity: 0;
  animation: pulseScale 5s var(--start-delay) infinite ease, fadeIn 5s var(--start-delay) forwards;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: .75em;
  gap: 1.5em;
  padding: 4em;
}

.homepage .nav {
  grid-area: nav;
  font-size: .875em;
  gap: 3em;
}

.nav a {
  display: flex;
  align-items: center;
  gap: .5em;
}

.nav a svg {
  --icon-size: 1.25em;
  fill: currentColor;
  height: var(--icon-size);
  width: var(--icon-size);
}

@media (max-width:34.99em) {
  .nav a svg {
    --icon-size: 2.5em;
  }

  .nav a svg+span {
    display: none;
  }
}

@media (max-width: 25.99em) {
  .nav .resume {
    margin: 0 100%;
  }
  .nav a svg {
    --icon-size: 1.8em;
  }
}

/* Animations */

@keyframes pulseScale {
  0% {
    transform: scale(var(--pulse-scale-start, 1))
  }

  50% {
    transform: scale(var(--pulse-scale, 1.5));
  }

  100% {
    transform: scale(var(--pulse-scale-start, 1));
  }
}

@keyframes pulseOut {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  49% {
    transform: scale(var(--pulse-scale, 1.5));
    opacity: 1;
  }

  75% {
    opacity: 0;
    transform: scale(var(--pulse-scale, 1.5));
  }

  100% {
    transform: scale(var(--pulse-scale, 1.5));
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes portraitEnter {
  0% {
    transform: scale(var(--initial-scale, 10));
    filter: blur(10rem);
    opacity: 0;
  }

  50% {
    transform: scale(var(--midpoint-scale, .8));
    filter: blur(0);
    opacity: .1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes beatInward {
  0% {
    scale: 1;
  }

  1% {
    scale: var(--beat-scale, .8);
  }

  5% {
    scale: var(--beat-scale, 1);
  }

  100% {
    scale: 1;
  }
}
/* /Homepage */

/* Light mode */

@media (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
    --primary-saturation: 50%;
    --primary-lightness: 45%;
    --canvas-hue: 0;
    --canvas-saturation: 0%;
    --canvas-lightness: 95%;
    --text-hue: 240;
    --text-saturation: 10%;
    --text-lightness: 20%;
    --hsl-canvas-emphasis: 0, 0%, 100%;
    --canvas-emphasis: hsl(var(--hsl-canvas-emphasis));
    --visited-saturation: 70%;
    --visited-lightness: 30%;
  }

  .homepage body::before {
    background-image: radial-gradient(circle at center, hsla(var(--hsl-primary), .3) 0%, transparent 50%);
  }
}

/* light mode via toggle (copied properties) */

:root[data-theme="light"] {
  --primary-saturation: 50%;
  --primary-lightness: 45%;
  --canvas-hue: 0;
  --canvas-saturation: 0%;
  --canvas-lightness: 95%;
  --text-hue: 240;
  --text-saturation: 10%;
  --text-lightness: 20%;
  --hsl-canvas-emphasis: 0, 0%, 100%;
  --canvas-emphasis: hsl(var(--hsl-canvas-emphasis));
  --visited-saturation: 70%;
  --visited-lightness: 0%;
}
:root[data-theme="light"] body::before {
  background-image: radial-gradient(circle at center, hsla(var(--hsl-primary), .3) 0%, transparent 50%);
}

/* Holy grail page layout */
.holy-grail {
  --spacing-1:          calc(15vw - 2rem);
  --max-content-width:  60ch;
  --gap:                0px;
  --column-count:       12;
  --min-gutter-width:   var(--spacing-1);
  --gutter-width:       minmax(var(--min-gutter-width), 1fr);
  --max-column-size:    calc((var(--max-content-width) - (var(--gap) * (var(--column-count) - 1))) / var(--column-count));
  --content-columns:    repeat(var(--column-count), minmax(0px, var(--max-column-size)));

  display:                grid;
  gap:                    0 var(--gap);
  grid-auto-rows:         min-content;
  grid-template-columns:  [start] var(--gutter-width) [content-start] var(--content-columns) [content-end] var(--gutter-width) [end];
}

.holy-grail > *,
.layout-item {
  --start:      calc(var(--column-start) + 1);
  --end:        calc(var(--column-end) + 2);
  --start-end:  var(--start, content-start) / var(--end, content-end);

  grid-column:  var(--column, var(--start-end));
}

.fluid {grid-column: 1 / -1;}

/* /Holy grail page layout */

.sparkle-container {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.homepage .sparkle {
  position: absolute;
  display: block;
  width: var(--size, 2rem);
  height: var(--size, 2rem);
  fill: var(--primary-500);
  animation-name: sparkle;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  transform-origin: center;
  z-index: -1;
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: translateX(var(--from-x, 0)) translateY(var(--from-y, 0)) rotate(0);
  }

  50% {
    opacity: var(--opacity, 1);
  }

  100% {
    opacity: 0;
    transform: translateX(var(--to-x, 0)) translateY(var(--to-y, 0)) rotate(270deg);
  }
}
